body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}

.class_test {
	 background-color: yellow;
}
#heading {
  background-color:rgb(255,0,0);
}
* {
  color: black;
}
p.dotted {border-style: dotted;}
.nav li {
  display: inline-block;
  font-size: 25px;
  padding: 25px;
}
.container {
  display: flex; 
  flex-wrap: nowrap | wrap | wrap-reverse;
  flex-direction: row | row-reverse | column | column-reverse;
    background-color: Blue;
}

.container > div {
  background-color: #f1f1f1;
  margin: 20px;
  padding: 30px;
  font-size: 40px;
}
a:hover {
  background-color: black;
}